@value makerWhite, makerGrey, makerLightGray, makerLightPurple, makerLightGrey, makerBlack from '../../common/colors.css';

.addCard {
  width: 100%;
  height: 3.8em;
  background-color: makerLightGrey;
  color: makerGrey;
  cursor: pointer;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.addCard:hover {
  opacity: 0.4;
  background-color: makerLightPurple;
}
