@value makerLightGray, makerGrey from '../../common/colors.css';

.button {
  background-color: makerLightGray;
  border: none;
  color: makerGrey;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  flex: 1 1 50%;
  padding: 0.5em;
}

.button:hover {
  opacity: 0.8;
}
