@value makerBeige, makerGrey, makerLightGrey, makerDustyBlue from '../../common/colors.css';

.signIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.8em;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.input {
  width: 60%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.8em;
  border: none;
}

.input:focus {
  outline: none;
  background-color: makerLightGrey;
}

.button {
  width: 60%;
  background-color: makerBeige;
  border: none;
  border-radius: 0.8em;
  color: makerGrey;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  padding: 0.5em 0 0.3em 0;
}

.button:hover {
  background-color: makerDustyBlue;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0.8em auto;
}

.item {
  width: 100%;
}

.socialLogo {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 1em;
}

.socialLogo:hover {
  transform: scale(1.05);
}

.join {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  margin-top: 0.2em;
  transition: transform 200ms ease;
}

.join:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
